/* @import url(reset.css); */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300); /* Open Sans [normal:400, lite:300] */
/* @import url(http://fonts.googleapis.com/css?family=Roboto:400,300); /* Roboto [normal:400, lite:300] */
/* @import url(http://fonts.googleapis.com/css?family=Lobster); /* Lobster [normal:400] */

/* Serif Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700); /* Roboto Slab [normal:400, bold:700] */

:root {
  --color-primary: #4CAF50;
  --color-primary-alpha: #4CAF5088;
  --color-primary-light: #55C359;
  --color-primary-font: #fff;
  --color-gray: #ccc;
  --color-light-gray: #ddd;
  --color-lighter-gray: #eee;
  --color-dark-gray: #bbb;
  --color-darker-gray: #aaa;
  --color-black: #333;
  --color-black-alpha: #00000088;
}

body {
  background: var(--color-lighter-gray);
  color: #333;
  font-family: 'Open Sans', Arial;
  font-size: 0.9rem;
}

noscript {
	width: 500px;
	padding: 20px;
	margin: 30px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
	text-align: center;
	background: #eee;
	font-size: 1em;
}

::selection {
  background: var(--color-primary);
  color: var(--color-primary-font);
}
::-moz-selection {
  background: var(--color-primary);
  color: var(--color-primary-font);
}

*:focus {
  box-shadow: 0 0 0 0.2rem var(--color-primary-alpha) !important;
}

th { font-weight: bold; }

.wrapper {
  padding: 20px 30px;
}


header {
  background: var(--color-primary);
  color: var(--color-primary-font);
}

#title {
  font-size: 1rem;
}

#settings {
  background: var(--color-light-gray);
  color: var(--color-black);
}


#content {
  min-height: calc(100vh - 60px);
  position: relative;
}

#dropzone {
  height: 100%;
  width: 100%;
  outline: 2px dashed var(--color-gray);
  outline-offset: -10px;
  position: absolute;
  z-index: 10;
  display: grid;
  justify-content: center;
  align-content: center;
  color: var(--color-darker-gray);
  font-weight: bold;
  pointer-events: none;
  transition: all 0.3s;
}
#dropzone.hover {
  display: grid !important;
  outline-color: var(--color-primary);
  background: var(--color-black-alpha);
  color: var(--color-primary);
}
#dropzone.hover-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}

#content .title {
  color: var(--color-primary);
}

#panel-container .panel {
  padding: 10px;
  margin: 6px 0px 0px;
  border-radius: 3px;
  background: #fff;
}

#panel-container > [class^="col-"]:first-child > .panel {
  margin-left: 0px;
}

#panel-container > [class^="col-"]:last-child > .panel {
  margin-rigtt: 0px;
}

#result-copy {
  
}

#result-clipboard {
  background: var(--color-primary);
  color: var(--color-primary-font);
}

#footer {
  background: var(--color-black);
  color: var(--color-lighter-gray);
}

#ys-yellow {
  color: #ffdd00;
}
#ys-sky {
  color: #fff;
  font-style: italic;
  text-shadow: 0 0 3px #fff;
  text-transform: uppercase;
}



/* Bootstrap Overrides */
.btn-primary {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: var(--color-primary-font);
}
.btn-primary:hover {
  border-color: var(--color-primary-light);
  background: var(--color-primary-light);
  color: var(--color-primary-font);
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--color-primary-alpha);
}
.btn-primary.focus.active,
.btn-primary:focus:active {
    box-shadow: 0 0 0 0.2rem var(--color-primary-alpha) !important;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: var(--color-primary-font);
}

.bootstrap-select.btn-group .dropdown-menu>li>a:hover:not(:focus) {
  background: var(--color-primary);
  color: var(--color-primary-font);
}


@media only screen and (min-width: 768px) {
  #panel-container .panel {
    margin: 6px 3px 0px;
  }
}